//hub.chemaxon.com/artifactory/api/npm/npm/:always-auth=true
@chemaxon:registry=https://hub.chemaxon.com/artifactory/api/npm/npm/
@synergy:registry=https://hub.chemaxon.com/artifactory/api/npm/npm/
@cxn:registry=https://hub.chemaxon.com/artifactory/api/npm/npm/
registry=https://hub.chemaxon.com/artifactory/api/npm/npm/
